body {
    background-image: url("background.jpg");
}
#buttons-view{
    padding: 10px;
    margin: 10px;
}

#videoGame-form{
    float: right;
}

h1{
    color: white;
}

p{
    color: white;
}



#vG{
    margin:auto;
}